@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.corpoCabecario{
    width: 100lvw;
    background-color: rgb(48, 44, 44);
}

.cabecario{
    width: 100lvw;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

.routerLinck{
    color: antiquewhite;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    margin: 70px;
    font-size: 26px;
    transition: 1s;
}

.routerLinck:hover{
    font-size: 30px;
    border: 2px solid transparent;
    text-shadow: 0px 2px 10px rgb(199, 199, 199);
    text-shadow: linear-gradient(to bottom, #ffffff, #000000);
}